---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle="Een Website Laten Maken | Kristof De Moor">
<!-- Header -->
 <header class="mt-20 p-50">
    <div class="text-white">Hello World</div>
 </header>
</BaseLayout>   
